<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Bout' It - <%= obj.name %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>

<nav>
  <button onclick="history.back()">Go Back</button>
  <button class="toggle">Dark Mode</button>
</nav>

  <section class='heading'>
    <h1 class='indieFlower'>Taco bout' It</h1>
  </section>
<section class="center">
<h1> <%= obj.name %> </h1>

<p class="dumpster">Address: <%= obj.address %></p>
<p><img src="<%= obj.image%>"></p>
<p class="dumpster">Review: <%= obj.review %></p>

 <button onclick="history.back()">Go Back</button>
</section>

    <footer class='center'>
        <small>©Taco Bout' It 2021</small>
    </footer>    

    <script src="/js/main.js"></script>
</body>
</html>