<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Bout' It - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>

  <nav>
  <a href="../feed"><button>Feed</button></a>
  <a href="../auth/logout"><button>Logout</button></a>
      <button class="toggle">Dark Mode</button>
    
  </nav>

  <section class='heading'>
    <h1 class='indieFlower'>Taco bout' It</h1>
    <p>Write A Review</p>

  </section>
     <h2>Welcome <%= user.userName %>! </h2>
  
  <div>  
    <form class='createReview'
          enctype="multipart/form-data" 
          action="/reviews/createReview" 
          method='POST'>
          
        <input type="text" required=true placeholder="Restaurant Name" name='name'>
        <input type="text" required=true placeholder="Full Address" name='address'>
        <input type="text" required=true placeholder="Review" name="review" >
        <span>Upload an Image (required)</span>
        <input type="file" id="myImage" name="file" required=true>
        <input type="submit" value="Add Review">
    </form>
  </div>
  
  <div class="feed">
    <ul>
    <% reviews.forEach( review => { %>
        <li class='todoItem' data-id='<%=review._id%>'>
            <a href="/reviews/resume/<%= review._id%>" >
            <%= review.name %></a> -      
            <%= review.address %> :
            <%= review.review %>                             
            <span class='del fa fa-trash'></span>
            <i class="fa fa-thumbs-up"></i>
            <%= review.likes %>
        </li>
        <li>
            <img class="thumb" src="<%= review.image%>">
        </li>
    <% }) %>    
    </ul>
    </div>

    <a href="#" class="cd-top text-replace js-cd-top"><span class="center">Back to top</span></a>

    <footer class='center'>
        <small>©Taco Bout' It 2021</small>
    </footer>    

    <script src="js/main.js"></script>
</body>
</html>