<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Bout' It - Feed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body class='center'>

    <nav>
        <button onclick="history.back()">Go Back</button>
        <button class="toggle">Dark Mode</button>
    </nav>

    <h1 class="indieFlower">Feed</h1>
        <p>
            <a href="auth/signup">Click here to sign up and add a review!</a>
        </p>    
        <p class="break whitespace">
            <a href="/">Have an account already? Sign in!</a>
        </p>
    <div class="feed">
        <ul>
            <% reviews.forEach( review => { %>
            <li class='todoItem' data-id='<%=review._id%>'>          
                <a href="/reviews/resumeGuest/<%= review._id%>" >
                <%= review.name %></a> -      
                <%= review.address %> :
                <%= review.review %> 
                [<%= review.userName %>]            
                <i class="fa fa-thumbs-up"></i>
                <%= review.likes %>
            </li>
            <li>
                <img class="thumb" src="<%= review.image%>">
            </li>
            <% }) %>    
        </ul>
    </div>
    <a href="#" class="cd-top text-replace js-cd-top"><span>Back to top</span></a>

    <script src="js/main.js"></script>
    <footer>
        <small>©Taco Bout' It 2021</small>
    </footer>
</body>
</html>